{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<nav>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card bg-dark text-white">
          <img src="{% static 'css/imagenes/89778.jpg'%}" class="card-img w-100" alt="...">
          <div class="card-img-overlay">
            <h3 class="card-title">BONOS CORPORATIVOS HIGH YIELD </h3>
            <h4 class="card-text"> Los inversores están evitando cada vez más la deuda corporativa <br>de mayor riesgo
              en Estados Unidos debido a los temores de una posible recesión</h4>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card bg-dark text-white">
          <img src="{%static 'css/imagenes/finanzas personales.jpg'%}" class="card-img w-100" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">PRUEBA IMAGEN 2 </h5>
            <p class="card-text"> is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card bg-dark text-white">
          <img src="{%static 'css/imagenes/renta-variable.jpg'%}" class="card-img w-100" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">PRUEBA IMAGEN 3 </h5>
            <p class="card-text"> is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</nav>
</header>

<main>


  <section id="ultimos-posts">
    <hr>
    <hr>
    <h2>ÚLTIMOS POSTEOS</h2>
    <hr>
    <hr>
    <div class="container overflow-hidden">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in ultimos_posts %}
        <div class="col">
          <div class="card h-100">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" style="width: 100%;
                                                                                max-width: 300px;
                                                                                height: auto;
                                                                                margin-bottom: 10px;">
            {% endif %}



            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="{% url 'post_detail' post.pk %}" target="_blank">Seguir Leyendo</a>
            </div>
            <div class="card-footer">
              <small class="text-muted"><strong>Creado:</strong> {{ post.created_at }}</small>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>




  </section>




  <section>
    <div class="Central" style="
  background-image: url(../../static/css/imagenes/ECONOMIA-MUNDIAL.jpg);
  height: 80vh;
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  border: solid black, 15px;
">
      <h4>TODAS LAS NOTICIAS </h4><br>
      <br>
      <H3>LA INFORMACION MAS ACTUALIZADA </H3>

    </div>

  </section>

  <section class="Finanzas">
    <hr>
    <hr>
    <h3>NOTICIAS ECONOMICAS</h3>
    <hr>
    <hr>
    <div class="container overflow-hidden">
      <div class="row gy-5">
        <div class="col-6">
          <img src="{% static 'css/imagenes/1366_2001.jpg'%}" class="d-block w-100" alt="...">
          <div class="p-3 border bg-light">
            <h5>Milei reduce la inflación en sus primeros meses de mandato. Es un éxito a medias para Argentina, si no
              logra que haya crecimiento no servirá de nada</h5>
            <p>Desde la llegada de Javier Milei a la presidencia, Argentina parece haber encontrado la solución para
              frenar su elevada
              inflación: recortar el gasto público y acabar con la emisión monetaria del Banco Central para financiar el
              déficit
              <a href="">...LEER MÁS »</a>
            </p>
          </div>
        </div>
        <div class="col-6">
          <img src="{% static 'css/imagenes/500_333.jpg'%}" class="d-block w-100" alt="...">
          <div class="p-3 border bg-light">
            <h5>Elon Musk tras conseguir que los accionistas de Tesla le regalen
              50.000 millones</h5>
            <p> El ingenio y la arrogancia de Elon Musk parecen no tener límite. Después de conseguir que la junta de
              accionistas de Tesla aprobase el pasado 13 de junio el pago de una compensación económica de
              casi 50.000 millones de dólares <a href="">... LEER MÁS »</a></p>
          </div>
        </div>
        <div class="col-6">
          <img src="{% static 'css/imagenes/1366_2000.png'%}" class="d-block w-100" alt="...">
          <div class="p-3 border bg-light">
            <h5>Elegir carrera: los datos dicen que mejor algunos ciclos de FP que ir a la universidad a hacer
              Humanidades</h5>
            <p>En un momento en el que las generaciones Y (millennials) y Z (zoomers) está cambiando sus perspectivas
              vitales y resignándose
              a heredar para tener casa propia, las opciones más funcionales siguen tomando más y más fuerza. En este
              caso, <a href="">... LEER MÁS »</a></p>
          </div>
        </div>
        <div class="col-6">
          <img src="{% static 'css/imagenes/1366_2000.jpg'%}" class="d-block w-100" alt="...">
          <div class="p-3 border bg-light">
            <h5>Por qué hay muchos inversores indexados que dicen que es mejor seguir el S&P 500 que indexarse al mundo
              entero</h5>
            <p>La inversión indexada debería ser la preferencia de la mayor parte de población. Batir al mercado es muy
              complicado, y casi imposible de forma consistente.
              Por tanto elegir un fondo de inversión indexado o a través de ETF es la forma más <a href="">... LEER MÁS
                »</a></p>
          </div>
        </div>
      </div>
    </div>

  </section>

  {% endblock %}




</main>




</body>



</html>