{% extends 'blog/base.html' %}

{% block title %}Post List{% endblock %}

{% block content %}
    <h1>Blog Posts</h1>
    <div class="post-list">
        {% for post in posts %}
            <div class="post-item">
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <p class="post-content">{{ post.content|truncatewords:20 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}