/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  border-color: #000;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 2px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #575757;
}

.container {
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


nav div {
 margin: 3px;
}



.carousel-inner{
margin-top: 15px;
border-radius: 25px;

 
}
.carousel-inner img{
  border: solid, black,15px;
 width: 100%;
  height: 350px;
  
}

.carousel-inner h3, h4{
  color: black;
}


/*Main*/
/*NOTICIAS*/
.Noticias img{
  height: 250px;
  background-size: cover;
}
.Finanzas img {
  height: 250px;
  background-size: cover;
}



/*///////////////////////////////////////////*/

/*pie*/
.footer {
  background-color: black;
  background: linear-gradient(70deg, #000, #343434);
  /* padding: 2rem 1rem;  */
  line-height: 1.6;
  color: wheat;
  border: solid, wheat;

}
ul li{
  list-style-type: none;
}
.footer__content {
  /* height: 50%; */
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  justify-content: baseline;
  text-align: center;
}

.footer__content>* {
  padding: 1.5rem;
  color: var(--white);
}

.footer__info {
  padding: .5rem;
}

.footer__social .iconos ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.footer__social ul li {
  font-size: 1.5rem;
}

.footer__social ul li a {
  color: var(--white);
}

.footer__social ul li a:hover {
  color: var(--golden);
}

.footer__menu ul li a {
  color: var(--white);
}

.footer__menu ul li a:hover {
  color: var(--golden);
}

.footer__copyright {
  padding: .5rem;
  text-align: center;
  color: var(--gray);
}

 /*inicio footer*/
 .footer__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*fin footer*/